@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap");

body {
  background-color: hsl(0, 0%, 98%);
  font-family: "Epilogue";
  display: flex;
  /* font-size: 18px; */
  flex-direction: column;
}

p {
  font-size: 16px;
  width: 80%;
}

button {
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
}

/* barra de navegação --------------------------------------*/

nav {
  display: flex;
  width: 100%;
  margin: 1%;

  justify-content: space-between;
  position: relative;
  font-size: 18px;
}

nav button {
  color: hsl(0, 0%, 41%);
  font-weight: bold;
}

nav button:hover {
  color: hsl(0, 18%, 4%);
}

#nav-left {
  display: flex;
  align-items: center;
  width: 70%;
}

#sections {
  display: inline-flex;
  width: 30%;
  padding: 0% 5%;
  white-space: nowrap;
  justify-content: space-between;
}

#btn_register {
  border: solid 2px;
  padding: 12px 20px;
  border-radius: 12px;
}

#nav-rigth {
  display: inline-flex;
  align-items: center;
  width: 10%;
  justify-content: space-between;
  padding-right: 5%;
}

/* drops ----------------------------- barra de navegação*/

#features {
  position: relative;
}
#company{
  position: relative;
}

#drop_features {
  font-size: 14px;
  z-index: 99;
  position: absolute;
  top: calc(100% + 20px);
  right: 0;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  padding: 10px 30px;
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  border-radius: 10px;
}

#drop_company{
  font-size: 14px;
  z-index: 99;
  position: absolute;
  top: calc(100% + 20px);
  left: calc(0 + 10px)  ;
  display: none;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 10px 25px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  border-radius: 10px;
  
}



.icon-txt {
  display: flex;
  padding: 10px 0;
  white-space: nowrap;
}
.icon-txt:hover{
  color: black;
}

.icon-txt img {
  width: 16px;
  margin-right: 10px;
}
/* ---------------------------------------------fim barra navegação ----------------- */



/* --------------------------------- corpo -------------------------------------------------- */

#center{
  display: flex;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
  width: 100%;
  
}

#div_conteudo{
  width: 40%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  position: relative;
  font-size: 1px;
}

#title{
  font-size:60px;
  padding: 50px 0px 0px 0px;
  
}

#div_img{
  width: 50%;
  display: flex;
  align-items: center;
}

#img_desktop{
  width: 65%;
}