@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');
body{
    background-color: hsl(0, 0%, 98%);
    font-family: 'Epilogue';
    display: flex;
    font-size: 18px;  
}

p{
    font-size: 18px;  
}

button{
    border: none;
    background: none;
    
}

a{
    text-decoration: none ;
    color: hsl(0, 0%, 41%);
    

}
/* barra de navegação --------------------------------------*/

nav{
    display: flex;
    width: 100%;
    margin: 1%;
    
    
    justify-content: space-between;
    position: fixed;
    font-size: 18px;  
}
nav button{
    color: hsl(0, 0%, 41%);
    font-weight: bold;
    
    
}
nav button:hover{
    color:  hsl(0, 18%, 4%);
    
}



#nav-left{ 
    display: flex;
    align-items: center;
    width: 70%;
    
    
    
}

#sections{
    display: inline-flex;
    width: 30%;
    padding: 0% 5%;
    
    justify-content: space-between;
    
   
}


#btn_register{
    border: solid 2px;
    padding: 15% 22%;
    border-radius: 12px;
    
    
}

#nav-rigth{
    display: inline-flex;
    align-items: center;
    width: 10%;
    justify-content: space-between;
    padding-right: 5%;
}

/* drops ----------------------------- barra de navegação*/

#drop_features{
    font-size: 14px;
    
    margin-top: 10%;
    height: 150%;
    height: 0px;
    z-index: 99;
    width: 150%;
    justify-content: center;
    align-items: center;
    
}
#drop_features1{
    background-color: beige;
    display: flex;
    flex-direction: column;
    height: 10em;
    justify-content: center;
    align-items: center;
}


.icon{
    width: 100%;
    display: flex;
    justify-content: space-between;
}