@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');
body{
    background-color: hsl(0, 0%, 98%);
    font-family: 'Epilogue';
    display: flex;
    
}

p{
    font-size: 18px;  
}

button{
    border: none;
    background: none;
    
}


/* barra de navegação*/

nav{
    display: inline-flex;
    width: 100%;
    margin: 1%;
    justify-content: space-between;
    position: fixed;
}
nav button{
    color: hsl(0, 0%, 41%);
    font-weight: bold
    
}
nav button:hover{
    color:  hsl(0, 0%, 8%);
}



#nav-left{ 
    display: flex;
    align-items: center;
    width: 70%;
    
    
}

#sections{
    display: inline-flex;
    width: 40%;
    padding: 0% 5%;
    justify-content: space-between;
    
   
}


#btn_register{
    border: solid 2px;
    padding: 15% 22%;
    border-radius: 12px;
    
    
}

#nav-rigth{
    display: inline-flex;
    align-items: center;
    width: 10%;
    justify-content: space-between;
    padding-right: 5%;
}
